@import "tailwindcss";

@font-face {
  font-family: "T2 Rooftop";
  src: url("/fonts/T2_Rooftop-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "T2 Halvar";
  src: url("/fonts/HalvarBreitt2-XBd.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    /* 1. Определяем CSS-переменные для шрифтов */
    --font-sans: "T2 Rooftop", sans-serif;
    --font-geist-mono: "T2 Halvar", monospace;

    /* 2. Опционально: можно сразу привязать к стандартным переменным Tailwind */
    --color-background: var(--background);
    --color-foreground: var(--foreground);
  }

  /* 3. Применяем переменные к HTML/body */
  html,
  body {
    font-family: var(--font-sans);
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans); /* Используем определенный выше шрифт */
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* * {
  font-family: "T2 Rooftop", sans-serif;
} */

@keyframes slideInFromBottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideIn {
  animation: slideIn 3s ease-out;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0;
}

.custom-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

nextjs-portal {
  display: none;
}
